/* Global styles */
:root {
  /* Colors */
  :root {
    --color-primary: #0000FF;
    --color-secondary: #00FFFF;
    --color-text: #ffffff;
    --color-background: #1a1a1a;
    --color-border: #222;
    --transition-speed: 0.5s;
    --icon-size: 40px;
  }
  /* Fonts */
  --font-family: 'Roboto', 'Open Sans', sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
}

/* Rest of your CSS... */

* {
  box-sizing: inherit;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-md);

}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  html {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: var(--font-size-md);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-lg);
  }
}

@media (min-width: 1200px) {
  html {
    font-size: var(--font-size-xl);
  }
}

/* Container */
.container {
  min-height: 100vh; /* add this line to set a minimum height of the container */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    min-height: 100vh; /* add this line to set a minimum height of the container */
    padding: 0;
  }
}

