@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');


:root {
  --icon-size: 40px;
  --transition-speed: 0.5s;
  --color-primary: #1a237e; /* Dark Imperial Blue */
  --color-secondary: #4caf50; /* Emerald Green */
  --color-text: #fafafa; /* White */
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 1rem;
  transition: color var(--transition-speed);
  margin-top: -2px;
}
 
.icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.icon.active {
  color: var(--color-primary);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.navbar {
  width: 100%;
  left: 0;
  right: 0;
  padding: 2rem 3rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Amiri', serif; /* Arabic font */
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'Amiri', serif; /* Arabic font */
}

.link {
  margin-left: 0;
  font-size: 1.25rem;
  color: var(--color-text);
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-flex;
  height: var(--icon-size);
  padding: 0 25px;
  align-items: center;
  max-height: 1vrem;
  min-height: 1vrem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--transition-speed);
  border: 2px solid var(--color-primary);
  border-radius: 30px;
}

.link::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 30px;
  border: 2px solid var(--color-primary);
  transition: border-color var(--transition-speed);
  z-index: -1;
}

.link:hover {
  color: var(--color-primary);
}

.link:hover::before {
  border-color: var(--color-primary);
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem;
  }

  .brand {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .link {
    margin-bottom: 1rem;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    align-items: center;
    max-height: 1vrem;
    min-height: 1vrem;
  }
}

@media (min-width:1200px) {
  .navbar {
    padding: 1.5rem 3rem;
  }

  .brand {
    font-size: 2.5rem;
  }

  .link {
    margin-left: 2.5rem;
    font-size: 1.25rem;
  }
}

.languageToggler {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #555;
}

.languageToggler:hover {
  cursor: pointer;
  color: #333;
}

.languageToggler.active {
  color: var(--color-primary);
}
.el {
  transform: translate(100px) var(--transform, );
}
